<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/widgets']"><mat-icon>List</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="widgetForm" (ngSubmit)="onFormSubmit(widgetForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Widget Title" formControlName="title"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!widgetForm.get('title').valid && widgetForm.get('title').touched">Give a Widget Title</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Widget Description" formControlName="desc"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!widgetForm.get('desc').valid && widgetForm.get('desc').touched">Enter Description of widget</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Widget Price" formControlName="price"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!widgetForm.get('price').valid && widgetForm.get('price').touched">Widget price is...?</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!widgetForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>
